{% extends 'layout.html' %} 
{% block title %}Posts{% endblock %} 

{% block content %}
<h2>Posts Page</h2>
{% for post in post_details %}
	<div class="container">
		<div class="my-2 box">
			<form>
				<article class="media content-section">
					<div class="media-body">
						<div class="article-metadata">
							Post created by:&nbsp;&nbsp;<a class="mr-2" href="#">{{ post['username'] }}</a>
							on &nbsp;<small class="text-muted"> {{ post['datePosted'].strftime('%Y-%m-%d') }}</small>
						</div>
						<h2><a class="article-title" href="#">{{ post['title'] }}</a></h2>
						<p class="article-content">{{ post['content'] }}</p>
					</div>
				</article>
			</form>
			<hr>		
			<div class="btn-toolbar">
				{% if post['idUser'] == session['id'] %}
					<a href="/update/{{ post['idPost'] }}"><button type="button" class="btn btn-primary btn-sm mr-2">Update Post</button></a>
					<button type="button" class="btn btn-danger btn-sm deletePostButton" data-value = "{{ post['idPost'] }}" data-toggle="modal" data-target="#exampleModal">Delete Post</button>
				{% endif %}
				<div class="post-message-holder text-small center text-success"></div>	
			</div>
			<br>
			<article class="media content-section">
				<div class="media-body">
					<div class="article-metadata">
						{% for comment in commentsAdded[post['idPost']] %}
							{{ comment['context'] or "" }}&nbsp;
							<i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
							<br>
							<br>
							<b>Comment by:</b>&nbsp;&nbsp;<a class="mr-2" href="#">{{ comment['username'] }}</a>
							on &nbsp;<small class="text-muted">{{ comment['dateComment'].strftime('%Y-%m-%d') }}</small>&nbsp;
							&nbsp;
							<br>
							<br>
							{% if comment['idUser'] == session['id']%}
								<a href="/edit/{{ comment['idComment'] }}"><button type="submit" class="btn btn-primary btn-sm">Edit Comment</button></a>
							{% endif %}
							{% if post['idUser'] == session['id'] %}						
								<button type="button" class="btn btn-danger btn-sm deleteCommentButton" data-value = "{{ comment['idComment'] }}" data-toggle="modal" data-target="#exampleModal1">Delete Comment</button>
							{% endif %}
							<br>
							<br>
							<div class="post-comment-holder text-small center text-success"></div>
						{% endfor %}
					</div>
				</div>
			</article>
			<br>
			<button data-target="#myModal/add-comment" 
				class="btn btn-sm btn-primary" 
				data-toggle="modal">Add a comment
			</button>
			<div id="myModal/add-comment" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title d-inline-block">Your comment</h5>
							<button type="button" class="close  d-inline-block" data-dismiss="modal">&times;</button>
						</div>
						<div class="modal-body">
							<input type="hidden" name="idPost" value="{{ post.idPost }}">

							<div class="form-group">
								<label for="inputName">User: </label>
								<a class="mr-2" href="#">{{ username }}</a>
							</div>

							<div class="form-group">
								<label for="inputComment">Comments</label>
								<textarea class="form-control" id="inputComment" name="context" rows="5"></textarea>
								<div class="text-danger text-small text-center comment-message-holder"></div>
							</div>
							<div class="formMessage text-sm text-danger text-center alert-danger"></div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
								<button class="btn btn-primary" onclick= "javascript:addComment( this );">Send</button>
							</div>
						</div>
					</div>
				</div>	
			</div>					

			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span></button>
							</div>
						<div class="modal-body">
							Are you sure you want to delete this post ?
						</div>
						<div id="value-holder" class= "d-none"></div>
						<div class="modal-footer">
							<button type="button" class="btn-sm btn-primary" data-dismiss="modal">NO</button>
							<button type="button" class="btn-sm btn-danger deleteBtnPost">YES</button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Delete Comment</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							Are you sure you want to permanently delete this comment ?
						</div>
						<div id="value-holder" class= "d-none"></div>
						<div class="modal-footer">
							<button type="button" class="btn-sm btn-primary" data-dismiss="modal">NO</button>
							<button class="btn btn-danger btn-sm deleteBtn">YES</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
	
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li class="page-item">
				{% if prev >= 1 %}
					<a class="page-link" href="/posts/page/{{ prev }}">Previous</a>
				{% endif %}
			</li>
			{% for i in range(pages) %}
				<li class="page-item">
				<a class="page-link" href="/posts/page/{{ i+1 }}">{{ i+1 }}</a>
			{% endfor %}
			</li>
			<li class="page-item">
				{% if next <= pages %}
			<a class="page-link" href="/posts/page/{{ next }}">Next</a>
				{% endif %}
			</li>
		</ul>
	</nav>


	<script>

		window.onload = () => {
			setClickListeners();
			setClickPostListeners();
			
		}
		
		
		function onDeleteComments( action ) {
			if ( action.target.getAttribute( 'data-value' ) ) {
				let response = new Promise( function( resolve, reject ) {
					//set the server request
					var xhttp = new XMLHttpRequest();
						xhttp.onreadystatechange = function() {
							if ( this.readyState == 4 && this.status == 200 ) {
								// convert the response from base64 and json to obj
								let response = JSON.parse( atob( this.responseText ) );
								// return the server error 
								if( response['error'] > 0 ){
									reject( { 'error':2, 'message':response['message'] } );
									return false;
								}

								resolve();
							}
						};
						
					xhttp.open( 'POST', `/deleteComments/${action.target.getAttribute( 'data-value' )}`,true );
					xhttp.send();
				} );

				response.then( () => {
					// set the response to holder
					setTimeout( ()=> {
						let messageHolder = document.querySelectorAll( '.post-comment-holder' );
						if ( messageHolder > 0 ) {
							messageHolder.classList.remove( 'text-danger');
							messageHolder.classList.add( 'text-success');
							messageHolder.innerHTML = response['message'];
						}
						window.location.reload();
					}, 500 );
				} ).catch( ( error ) => {
					let messageHolder = document.querySelectorAll( '.post-comment-holder' );
					if ( messageHolder ) {
						messageHolder.classList.add( 'text-danger');
						messageHolder.classList.remove( 'text-success');
						messageHolder.innerHTML = `ERROR::${ error['message']}`;
					}
				} );
			}
		}	

		function addComment( action ){
			
			let comment = document.querySelector("#inputComment");
			let messageHolder = document.querySelector(".formMessage");
			let idPost = document.querySelector('input[name="idPost"]').value;
			let commentError = document.querySelector( ".comment-message-holder" );

			if ( !comment ) {
				messageHolder.innerHTML = "Comment"; 
				return false;
			}

			let promise = new Promise( function( resolve, reject ) {
					// set the server request
					var xhttp = new XMLHttpRequest();
						xhttp.onreadystatechange = function() {
							if ( this.readyState == 4 && this.status == 200 ) {
								// convert the response from base64 and json to obj
								let response = JSON.parse( atob( this.responseText ) );
								// return the server error 
								console.log("RESPONSE::", response )
								if( response['error'] > 0 ){
									reject( { 'error':2, 'errors':response } );
									return false;
								}
								resolve( response );
							}
						};
						
					xhttp.open( 'POST', `/add-comment`, true );
					xhttp.send( JSON.stringify( { 'context':comment.value, 'idPost':idPost } ) );
				
				} );
				

				promise.then( ( data ) => {
					// set the response to holder
					let messageHolder = document.querySelector( '.formMessage' );
						if ( messageHolder ) {
							messageHolder.innerHTML = data.message;
						}
					setTimeout( ()=> {
						window.location.reload();
					}, 1000 );
				} ).catch( ( error ) => {
					let messageHolder = document.querySelector( '.formMessage' );
					if ( messageHolder ) {
						// check general error
						if ( error['errors']['errors'] ) {
							messageHolder.innerHTML = `Eroare: ${error['error']} <br> Erori: ${error['errors']['errors']}`;
							return false;
						}
						// check validation errors
						if ( error['errors']['fields'] ) {
							// go through all errors
							for ( const item in error['errors']['fields'] ) {
								// set current value
								let value = error['errors']['fields'][item];

								if ( item == 'context' ) {
									commentError.innerHTML = value;
								}
								if ( item == 'idPost' ) {
									messageHolder.innerHTML = value;
								}
							}
						}

					}
				} );
		}
		function setClickListeners() {
			const deleteCommentsBtnHolder = document.querySelectorAll( ".deleteBtn");
			if ( deleteCommentsBtnHolder && deleteCommentsBtnHolder.length > 0 ) {
				for ( let item = 0; item < deleteCommentsBtnHolder.length; item++ ) {
					let btn = deleteCommentsBtnHolder[item];
					if ( btn == null ) { return false; }
					btn.addEventListener( 'click', ( element ) => { onDeleteComments( element ); } )
				}
			}
		}

		function setClickPostListeners() {
			const deletePostBtnHolder = document.querySelectorAll( ".deleteBtnPost" );
			if ( deletePostBtnHolder && deletePostBtnHolder.length > 0 ) {
				for ( let item = 0; item < deletePostBtnHolder.length; item++ ) {
					let btn = deletePostBtnHolder[item];
					if ( btn == null ) { return false; }
					btn.addEventListener( 'click', ( element ) => { onDeletePressed( element ); } )
				}
			}
		}

		$(document).on("click", ".deletePostButton", function () {
			let myPost = $(this).data('value');
			let modal = document.querySelector('#exampleModal');
			if (modal){
				modal.querySelector('.deleteBtnPost').setAttribute('data-value', myPost) ;
			}
		});

		$(document).on("click", ".deleteCommentButton", function () {
			let myComment = $(this).data('value');
			let modal = document.querySelector('#exampleModal1');
			if (modal){
				modal.querySelector('.deleteBtn').setAttribute('data-value', myComment) ;
			}
		});

		function onDeletePressed( action ) {
			if ( action.target.getAttribute( 'data-value' ) ) {
				let response = new Promise( function( resolve, reject ) {
					//set the server request
					var xhttp = new XMLHttpRequest();
						xhttp.onreadystatechange = function() {
							if ( this.readyState == 4 && this.status == 200 ) {
								// convert the response from base64 and json to obj
								let response = JSON.parse( atob( this.responseText ) );
								// return the server error 
								if( response['error'] > 0 ){
									reject( { 'error':2, 'message':response['message'] } );
									return false;
								}

								resolve();
							}
						};
						
					xhttp.open( 'POST', `/delete/${action.target.getAttribute( 'data-value' )}`,true );
					xhttp.send();
				
				 } );
				

				response.then( () => {
					// set the response to holder
					setTimeout( ()=> {
						let messageHolder = document.querySelectorAll( '.post-message-holder' );
						if ( messageHolder > 0 ) {
							messageHolder.classList.remove( 'text-danger');
							messageHolder.classList.add( 'text-success');
							messageHolder.innerHTML = response['message'];
						}
						window.location.reload();
					}, 500 );
				} ).catch( ( error ) => {
					let messageHolder = document.querySelectorAll( '.post-message-holder' );
					if ( messageHolder ) {
						messageHolder.classList.add( 'text-danger');
						messageHolder.classList.remove( 'text-success');
						messageHolder.innerHTML = `ERROR::${ error['message']}`;
					}
				} );
			}
		}
	</script>

{% endblock %}